h2 {
  text-align: center;
  font-size: 30px;
}

a {
  text-decoration: none;
  margin: 40px 80px;
  font-size: 17px;
  color: rgb(14, 21, 33);
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: dodgerblue;
}

.album-item-holder {
  margin: 40px 80px;

  border: 1px solid black;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
