<h2>Products</h2>

<div class="category-buttons">
  <button (click)="selectCategory('')">Show All</button>
  <button (click)="selectCategory('Phones')">Phones</button>
  <button (click)="selectCategory('Headphones')">Headphones</button>
  <button (click)="selectCategory('Accessories')">Accessories</button>
  <button (click)="selectCategory('Laptops and Tablets')">
    Laptops and Tablets
  </button>
</div>

<div class="product-list">
  <app-product-item
    *ngFor="let product of filterProducts(selectedCategory)"
    [product]="product"
    class="product-item"
  ></app-product-item>
</div>
