* {
  font-family: "Courier New", Courier, monospace;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 10px;
}

.navigation-menu button {
  font-size: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 50px;
}

.navigation-menu button:hover {
  color: rgb(40, 40, 101);
}
