<div class="product-item-info">
  <img [src]="product.imageURL" alt="{{ product.name }}" appResizeImage />
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">{{ product.description }}</p>
  <div class="diff-buttons">
    <div class="share-and-notify-buttons">
      <button type="button" (click)="share(product)">Share</button>
      <app-product-alerts
        [product]="product"
        (notify)="onNotify()"
        class="notifyBtn"
      ></app-product-alerts>
    </div>
    <button class="deleteBtn" (click)="deleteProduct(product)">
      <em class="material-icons">delete</em>Delete
    </button>
    <div class="likes-count">
      <button class="likeBtn" (click)="increaseLikeCnt()">
        <em class="material-icons">thumb_up</em>Like
      </button>
      <span id="likeCounter">{{ likeCnt }}</span>
    </div>
  </div>
</div>
