<div class="additional-album-details">
  <h1>Album Details</h1>
  <a routerLink="../" class="goBackLink">Go back</a>
</div>

<div class="album-details-container">
  <h2>ID: {{ album.id }}</h2>
  <h2>User ID: {{ album.userId }}</h2>
  <br />
  <h3>{{ album.title }}</h3>

  <div class="new-title-container">
    <input type="text" [(ngModel)]="title" />
    <button (click)="changeTitle()" class="titleChangeBtn">Save</button>
  </div>

  <h3><a routerLink="photos" class="goBackLink">Photos</a></h3>
</div>
